/* --------------- Main Sidebar Stylings ------------*/
html {
    font-size: 400%;
}

@media only screen and (min-width: 1000px) {
    html {
        font-size: 150%;
    }
}



html,
body,
.wrapper,
main {
    height: 100%;
}


.main {
    width: 100%;
    overflow-y: scroll;
    transition: margin 0.5s;
}

.wrapper {
    display: flex;
    align-items: stretch;
    width: 100%;
    overflow-x: hidden;
}


#connectSidebar {
    height: 100%;
    width: 100%;
    transition: margin 0.5s;
    margin-right: -100%;
}

#connectSidebar.active {
    margin-right: 0;
}

#led-wrapper {
    height: 100%;
    width: 100%;
    transition: margin 0.5s;
    margin-left: -100%;
    display: flex;
    flex-direction: row;
}
#led-wrapper.active {
    margin-left: 0;
}




/* --------------------- LED Groups Sidebar Stylings ------------- */

#ledGroupWrapper {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
}

#ledGroupNamesList {
    min-width: 100%;
    margin-left: -100%;
    height: 100%;
}
#ledGroupNamesList.active {
    margin-left: 0%;
}

#ledGroupListContainer {
    display: flex;
    flex-direction: column;
}

.ledPointsWrapper {
    width: 0;
    overflow-y: scroll;
}

.ledPointsWrapper.active {
    width: 100%;
}

.ledPointsWrapper,
#ledGroupNamesList,
#ledGroupWrapper {
    transition: width 0.5s, margin 0.5s;
}


/* --------------------- LED Group stylings ---------------- */

.ledGroupContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.25rem;
}

.ledGroupContainer img {
    width: 2rem;
    height: 2rem;
}

.ledGroupContainer span {
    margin: auto 0;
}

.ledInputWrapper {
    display: flex;
    justify-content: space-between;
    margin: 0.3rem;
}

.ledGroupText {
    display: block;
    width: 70%;
    text-align: left;
}

.ledText {
    width: 75%;
}

.ledSwitch {
    width: 25%;
    text-align: right;
}


/*-------------------------------------------------------------------SLIDERS------------------------------------------------*/


/* The switch - the box around the slider */

.switch {
    position: relative;
    display: inline-block;
    width: 2.5rem;
    height: 1.5rem;
    color: white;
    margin-right: 0.5rem;
}


/* Hide default HTML checkbox */

.switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 1.2rem;
    width: 1.2rem;
    left: 0.15rem;
    bottom: 0.15rem;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

input:checked+.slider {
    background-color: #2196f3;
}



input:checked+.slider:before {
    -webkit-transform: translateX(1rem);
    -ms-transform: translateX(1rem);
    transform: translateX(1rem);
}


/* Rounded sliders */

.slider.round {
    border-radius: 0.75rem;
}

.slider.round:before {
    border-radius: 50%;
}